.carousel-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button {
    background-color: orange;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
}

button:hover {
    background-color: rgb(241, 198, 116);
}

img {
    height: 100%;
    aspect-ratio: 16/9;
}

* {
    padding: 0;
    margin: 0;
    background-color: rgb(241, 218, 173);
}

#footer {
    text-align: center;
    margin: 2rem;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
}